<div class="wrap">

  <ion-card class="box1">
      <div mode="buffer" *ngFor="let progress of progressInfo">
          <span>{{progress.fileName}}</span>
          <span>{{progress.value}}%</span>
          <div class="progressbar">
              <ion-progress-bar mode="buffer" value={{progress.value}}>
              </ion-progress-bar>
          </div>
      </div>
  </ion-card>

  <div class="box2" >
    <form enctype="multipart/form-data">
        <input name="file" type="file" (change)="selectFiles($event)" multiple/>
        <span *ngIf="fileName">{{fileName}}</span>
        <ion-button class="uploadButton" *ngIf="selectedFiles" [disabled]="!selectedFiles" (click)="uploadFiles()">
            Subir Archivos
        </ion-button>
    </form>
  </div>

  <div>
    <img alt="" [src]="photo"> 
  </div>

</div>