
<ion-content>
  <div class="main_content_div" [class.ios_pad]="plt == 'ios'">

    <div class="upper_div">
      <div class="yellow_div" [class.yellow_div_ios]="plt == 'ios'"></div>
    </div>

    <div class="lower_div">
      <ion-label class="head_lbl">Login</ion-label>

      <ion-label class="small_lbl">Email</ion-label>
      <ion-input [(ngModel)]="login.email" type="email" placeholder="Email"></ion-input>
      <ion-label class="small_lbl">Password</ion-label>
      <ion-input [(ngModel)]="login.password" type="password" placeholder="Password"></ion-input>

      <ion-label class="forgot">Forgot Password ?</ion-label>

      <ion-button expand="block" (click)="loginUser()">Login</ion-button>

      <p style="text-align: center;"><a href="/register">Don't have Account ? Sign Up </a></p>

    </div>

  </div>
</ion-content>
