<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" (click)="toSubcribe()">
      <ion-icon name="star-outline" slot="end"></ion-icon>
    </ion-buttons>
    <ion-title style="margin-left: 25%;">View Manga</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-card>
      <img  style="margin-left: 11.5%;" width="300" [src]="manga.url" >
      <p class="p1" style="text-align: center;">{{view_manga.name}}</p>
      <p class="p2" style="text-align: center;">{{view_manga.description}}</p>
      <p class="p1" > Author</p>
      <p class="p2" >{{view_manga.author}}</p>
      <p class="p1" >Artist</p>
      <p class="p2" >{{view_manga.artist}}</p>
      <p class="p1" >Publisher</p>
      <p class="p2" >{{view_manga.publisher}}</p>
      <p class="p1" >Copyright</p>
      <p class="p2" >{{view_manga.copyright}}</p>
    </ion-card>
    
    <p style="margin-left: 2.5%; font-size: 18px;">
      Chapters 
    </p>
    <ion-tabs style="width: 45%; height: 8%; margin-top: 222%; margin-left: 58%;">
        <ion-tab-button tab="chapter-creation">
          <ion-icon name="add-circle"></ion-icon>
          <ion-label>Creation Charpter</ion-label>
        </ion-tab-button>
    </ion-tabs>

    <ion-list>
      <ion-card>
        <ion-item *ngFor="let name of name_chapter | slice:0:1">
          <ion-label>Chapter {{name.name}}</ion-label>
            <ion-button (click)="deleteChapter(view_manga.manga_id)" >Delete</ion-button>
            <ion-button (click)="viewChapter(view_manga.manga_id)" >View</ion-button>
            <ion-button (click)="commentChapter(view_manga.manga_id)">Comment</ion-button>
        </ion-item>
        <ion-item *ngFor="let comment of text">
          <ion-card-header>
            <ion-card-subtitle>{{comment.text}}</ion-card-subtitle>
            <ion-card-subtitle>{{comment.date | date: 'yyyy-MM-dd'}}</ion-card-subtitle>
          </ion-card-header>
          <ion-button [routerLink]="['/comment-creation/', comment.comment_id]">Edit</ion-button> 
          <ion-button (click)="deleteComment(comment.comment_id)" >Delete</ion-button>
        </ion-item> 
      </ion-card>
    </ion-list>
    
  </div>
</ion-content>
